{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
<script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous">
</script>
<style>


.card {

    border: 2.5px solid rgba(0,0,0,.125);
    border-radius: 0.8rem;
}


h1 {
  text-align: center;
  font-weight: 100;
}

#result  {
    margin-top: 1em;
    font-size: 16px;
    color: #36489e;
    //font-weight: 300;
}

.tab {
  font-size: 18px;
  font-weight: 400;
  padding: 0.4em;
  width: 140px;
 
  margin-bottom: 2em;
}



</style>

{%endblock%}

{%block content%}

        
        <h1 class="display-6 m-3">Task processing</h1>
        <div class="col-12">
            
                <div class="input-group mb-3">
                    
                    <input type="text" id="tickerInput" class="form-control form-control-lg" placeholder="VCB" aria-label="Recipient's username" aria-describedby="btn-submit">
                    <button class="btn btn-warning" type="button" id="btn-submit">Predict</button>
                    
                </div>
        </div>
        
        
      
        <div class="col-12">
            
            
            
            <div class="card border-warning mb-3 " id="tag-result">  
                <div class="card-body">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active tab" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Predict</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link tab" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Trend</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link tab" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">JSON view</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link tab" id="model-tab" data-bs-toggle="tab" data-bs-target="#model" type="button" role="tab" aria-controls="model" aria-selected="false">Model</button>
                        </li>
                        
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div id='content-loader1'></div>   
                            <div id="graphAIDiv"></div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                              
                            <div id='content-loader2'></div>   
                            <div id="graphAIDiv2"></div>
                            
                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            
                            <div id='content-loader'></div> 
                            <pre id="json"></pre>
                        </div>
                        <div class="tab-pane fade" id="model" role="tabpanel" aria-labelledby="model-tab">
                            
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                        
                        </div>
                        
                    </div>

                    
                    
                </div>
            </div>
        </div>
    
    





{%endblock%}