{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
<script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
<!-- Don't use this in production: -->
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous">
</script>

<style>
  #cronString {
    /* font-size: 1.5em; */
    color: #5544FF;
  }
</style>

{%endblock%}

{%block content%}
<br>
<h1 class="display-6 mt-3">Jobs</h1>
<br>




<div class="row">
  <div class="col-sm-3"><h6 class="text-muted">File (~/team_projects/)</h6></div>
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-5"><h6 class="text-muted" >Next run Job</h6></div>

      <div class="col-sm-7"><h6 class="text-muted">Action</h6></div>
    </div>
  </div>
  <hr>

  {% for file in files %}
  <div class="col-sm-3 mb-3">
    <h6>{{file.name}} </h6>
    
    {{file.run_path}}<br>
    {% if file.tags %}
      {% for tag in file.tags.split(';') %}
        <span class="badge bg-secondary rounded-pill">{{tag}}</span>
      {% endfor %}
    {% endif %}

    
  </div>
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-5">
        <ul class="nav flex-column">
          {% for job in file.scheduled_jobs %}
            <li>{{job.id}}: <span id='{{job.id}}'><strong>{{job.next_run_time|datetime_format }}</strong></span></li>
          {% endfor %} 
        </ul>
      </div>
      <div class="col-sm-7">
        <a class="card-link text-decoration-none" href="/users">
          <span data-feather="play-circle"></span>
          Trigger
        </a>
        <a class="card-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="{{file.id}}">
          <span data-feather="clock"></span>
          Schedule
        </a>
        <a class="card-link text-decoration-none" href="/users">
          <span data-feather="activity"></span>
          Monitor
        </a>
        <a class="card-link text-decoration-none text-danger" href="/users">
          <span data-feather="trash-2"></span>
          Delete
        </a>
      </div>
    </div>
  </div>
  <hr>  
  {% endfor %}
</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="root"></div>
        <form id='cron-form' action='/files/'>
          <div class="mb-3">
            <label for="schedule-desc" class="col-form-label">Description</label>
            <textarea class="form-control" id="schedule-desc"></textarea>
          </div>
      
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id='submit-schedule'>Save changes</button>
      </div>
    </div>
  </div>
</div>



<script>
  var exampleModal = document.getElementById('exampleModal')
  exampleModal.addEventListener('show.bs.modal', function (event) {
    // Button that triggered the modal
    var button = event.relatedTarget
    // Extract info from data-bs-* attributes
    var recipient = button.getAttribute('data-bs-whatever')
    // If necessary, you could initiate an AJAX request here
    // and then do the updating in a callback.
    //
    // Update the modal's content.
    var modalTitle = exampleModal.querySelector('.modal-title')
    var modalBodyInput = exampleModal.querySelector('.modal-body input')

    modalTitle.textContent = 'Job ID ' + recipient
    // modalBodyInput.value = recipient

    // submit from here
    var submitSchedule = document.getElementById("submit-schedule")

    submitSchedule.addEventListener("click", function(){ 
      var scheduleDesc = document.getElementById('schedule-desc').value
      var cronString = document.getElementById('cronString').value

      console.log(scheduleDesc)
      console.log(cronString)
      
        fetch('/schedule/add_cronjob/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ "file_id": recipient, "desc": scheduleDesc, "cron_string": cronString}),
        })
        .then(response => response.json())
        .then(data => {
          // getStatus(data.task_id, data.task_name)
          console.log(data)
          document.getElementById("cron-form").submit();

        })
      

    })    
  })


</script>

<script type="text/babel">
// cron
  function App() {
      const [name, setName] = React.useState('* * * * *')

      function handleChange(event) {
          setName(event.target.value);
          //console.log(name)  không ra đc luôn {name}
      }

      fetch('http://localhost:8000/schedule/cron_check', {
          method: 'POST', 
          headers: {
              'Content-Type': 'application/json',
          },
          // body: JSON.stringify(date_params),
          body: JSON.stringify({'cron_string': name})
          })
      .then(response => response.json())
      .then(data => {
          console.log('Success:', data);
          
          const desc = document.getElementById("cron descriptor");
          desc.innerHTML = `"${data['desc']}"`
      })
      .catch((error) => {
          console.error('Error:', error);
      });

      
      return (
          <div>
       
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <select class="form-select form-select-lg" aria-label="Default select example">
                  <option selected>Schedule type</option>
                  <option value="1" selected>Cron</option>
                  <option value="2">Interval</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="col-auto">
                <input type="text"  name="firstName" onChange={ handleChange } value={name} class="form-control form-control-lg" id="cronString" />
              </div>
              <div class="col-auto"> 
                <p class="text-center">
                  <h1 class="display-6" ><mark><span id='cron descriptor'></span></mark></h1>
                </p>
              </div>
            </div>
            
          </div>
      )
  }

  ReactDOM.render(
      <App />, document.getElementById('root')
  );

        

</script>
{%endblock%}