{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
<script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous">
</script>

{%endblock%}

{%block content%}
<br>
<h1 class="display-6 mt-3">Projects</h1>
<br>




<div class="row">
  <div class="col-sm-3"><h6 class="text-muted">Project</h6></div>
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-5"><h6 class="text-muted" >Next run</h6></div>

      <div class="col-sm-7"><h6 class="text-muted">Action</h6></div>
    </div>
  </div>
  <hr>

  {% for project in projects %}
  <div class="col-sm-3 mb-3">
    <h6>{{project.title}} </h6>
    
    ~/team_projects/{{project.run_path}}<br>
    {% for tag in project.tags.split(';') %}
      <span class="badge bg-secondary rounded-pill">{{tag}}</span>
    {% endfor %}

    
  </div>
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-5">
        <ul class="nav flex-column">
          {% for job_schedule in project.schedules %}
            <li>{{job_schedule.id}}: <span id='{{job_schedule.id}}'><strong>{{job_schedule.next_run_time|datetime_format }}</strong></span></li>
          {% endfor %} 
        </ul>
      </div>
      <div class="col-sm-7">
        <a class="card-link text-decoration-none" href="/users">
          <span data-feather="play-circle"></span>
          Trigger
        </a>
        <a class="card-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="{{title}}">
          <span data-feather="clock"></span>
          Scheduled
        </a>
        <a class="card-link text-decoration-none" href="/users">
          <span data-feather="activity"></span>
          Monitor
        </a>
        <a class="card-link text-decoration-none text-danger" href="/users">
          <span data-feather="trash-2"></span>
          Delete
        </a>
      </div>
    </div>
  </div>
  <hr>  
  {% endfor %}
</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="schedule-desc" class="col-form-label">Description</label>
            <textarea class="form-control" id="schedule-desc"></textarea>
            
          </div>
          <div class="mb-3">
            <label for="second-interval" class="col-form-label">Time interval</label>
            <input type="text" class="form-control" id="second-interval">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id='submit-schedule'>Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>
  var exampleModal = document.getElementById('exampleModal')
  exampleModal.addEventListener('show.bs.modal', function (event) {
    // Button that triggered the modal
    var button = event.relatedTarget
    // Extract info from data-bs-* attributes
    var recipient = button.getAttribute('data-bs-whatever')
    // If necessary, you could initiate an AJAX request here
    // and then do the updating in a callback.
    //
    // Update the modal's content.
    var modalTitle = exampleModal.querySelector('.modal-title')
    var modalBodyInput = exampleModal.querySelector('.modal-body input')

    modalTitle.textContent = 'New message to ' + recipient
    modalBodyInput.value = recipient
  })


</script>
<script>

var submitSchedule = document.getElementById("submit-schedule")

submitSchedule.addEventListener("click", function(){ 
  var secondsVar = document.getElementById('second-interval').value
  var scheduleDesc = document.getElementById('schedule-desc').value


  console.log(secondsVar)
  function sendProjectSchedule() {
    fetch('/schedule/add_project/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ "project_id": 1, "desc": scheduleDesc, "time_in_seconds": secondsVar }),
    })
    .then(response => response.json())
    .then(data => {
      // getStatus(data.task_id, data.task_name)
      console.log(data)
    })
  }

  sendProjectSchedule()
})    
</script>
{%endblock%}